@charset "UTF-8";
/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * sofia-pro:
 *   - http://typekit.com/eulas/00000000000000007735f999
 *   - http://typekit.com/eulas/00000000000000007735f990
 *   - http://typekit.com/eulas/00000000000000007735f98d
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2022-10-26 15:30:18 UTC"}*/
@import url("https://p.typekit.net/p.css?s=1&k=bev2tjo&ht=tk&f=24539.24543.24547&a=34789717&app=typekit&e=css");
@font-face {
  font-family: "sofia-pro";
  src: url("https://use.typekit.net/af/5d97ff/00000000000000007735f999/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/5d97ff/00000000000000007735f999/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/5d97ff/00000000000000007735f999/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
}
@font-face {
  font-family: "sofia-pro";
  src: url("https://use.typekit.net/af/2e2409/00000000000000007735f990/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"), url("https://use.typekit.net/af/2e2409/00000000000000007735f990/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"), url("https://use.typekit.net/af/2e2409/00000000000000007735f990/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 300;
  font-stretch: normal;
}
@font-face {
  font-family: "sofia-pro";
  src: url("https://use.typekit.net/af/b718ff/00000000000000007735f98d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"), url("https://use.typekit.net/af/b718ff/00000000000000007735f98d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"), url("https://use.typekit.net/af/b718ff/00000000000000007735f98d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
}
.tk-sofia-pro {
  font-family: "sofia-pro", sans-serif;
}

.fw-medium {
  font-weight: 500 !important;
}

.btn-primary-ra {
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  background: #1C4394;
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  width: fit-content;
  border: 0;
  border-radius: 25px;
  padding: 12px 24px;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.btn-primary-ra .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary-ra .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: #1C4394;
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

.btn-primary-ra .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid #FFFFFF;
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

.btn-primary-ra:hover {
  background-color: #1E4DAE;
}

.btn-primary-ra:hover .arrow {
  background: #FFFFFF;
}

.btn-primary-ra:hover .arrow:before {
  right: 0;
}

.btn-primary-ra:active {
  background-color: #082E7C;
}

.btn-border-white {
  border: 2px solid #ffffff;
}

.btn-navbar-ra {
  position: relative;
  background: none;
}

.btn-navbar-ra:focus:after,
.btn-navbar-ra:hover:after {
  width: 100%;
  left: 0%;
}

.btn-navbar-ra:after {
  content: "";
  pointer-events: none;
  bottom: 0px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 3px;
  background-color: #F08D28;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.btn-more-ra {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: none;
  position: relative;
  background-color: transparent;
  transition: 0.2s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0.6;
  align-self: center;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #0B0B0B;
  height: 16px;
}

.btn-more-ra::after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  margin-top: -5px;
  top: 0;
  left: 5px;
  visibility: hidden;
  opacity: 1;
  transition: 0.2s linear;
}

.btn-more-ra .icon {
  transform: translateX(0%);
  transition: 0.2s linear;
  animation: attention 1.2s linear infinite;
  width: 16px;
  height: 16px;
}

.btn-more-ra:hover::after {
  visibility: visible;
  opacity: 0.7;
  width: 90%;
}

.btn-more-ra:hover {
  letter-spacing: 2px;
  opacity: 1;
}

.btn-more-ra:hover > .icon {
  transform: translateX(30%);
  animation: none;
}

@keyframes attention {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(30%);
  }
}
.btn-share-ra {
  background-color: #1C4394;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-share-ra:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.btn-share-ra:active {
  transform: translateY(-1px);
}

footer {
  background-color: rgba(255, 0, 0, 0.329);
}

.footer {
  background-color: #1C4394;
  max-width: 1440px;
  margin: auto;
  padding: 80px;
  color: #FFFFFF;
  display: grid;
  grid-template-columns: 5fr 4fr;
  grid-template-rows: 1fr 1f;
  row-gap: 64px;
  column-gap: 48px;
}
.footer-subscribe {
  align-self: center;
  justify-self: start;
  width: 100%;
}
.footer-subscribe h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  padding-bottom: 16px;
}
.footer-subscribe div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer-subscribe div input {
  width: 100%;
  margin-right: 16px;
  padding-bottom: 16px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  color: #bababa;
}
.footer-subscribe p {
  max-width: 390px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  padding-top: 16px;
}
.footer-social {
  align-self: end;
  justify-self: start;
}
.footer-social-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.footer-social-icons a {
  display: block;
  width: 30px;
  height: 30px;
  margin: 36px 4px;
  background-repeat: no-repeat;
  background-position: center;
}
.footer-social-icons .icon-twitter {
  background-image: url("../../assets/icons/footer-twitter.svg");
}
.footer-social-icons .icon-instagram {
  background-image: url("../../assets/icons/footer-insta.svg");
}
.footer-social-icons .icon-youtube {
  background-image: url("../../assets/icons/footer-youtube.svg");
  height: 32px;
  width: 29px;
}
.footer-social p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
}
.footer-nav {
  align-self: end;
  justify-self: start;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10%;
  align-items: start;
}
.footer-nav div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-nav div .footer-nav-title {
  text-decoration: none;
  padding-bottom: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  transition: 0.2s ease-out 100ms;
}
.footer-nav div .footer-nav-title:hover {
  font-weight: 700;
}
.footer-nav div a {
  text-decoration: none;
  padding-bottom: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  transition: 0.2s ease-out 100ms;
}
.footer-nav div a:hover {
  font-weight: 500;
}
.footer-legal {
  align-self: end;
  justify-self: start;
}
.footer-legal h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-legal p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #f3f3f3;
}
.footer-legal p a {
  text-decoration: underline;
  color: #f3f3f3;
}
.footer-legal p a:visited,
.footer-legal p a:hover,
.footer-legal p a:active {
  color: inherit;
}

header {
  width: 100%;
  background-color: rgba(139, 247, 112, 0.329);
}
header .navbar {
  background-color: rgb(255, 255, 255);
  max-width: 1440px;
  margin: auto;
  padding: 0px 112px;
  height: 98px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
header .navbar-logo {
  width: 160px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .navbar-logo-a {
  display: block;
  background-image: url("../../assets/logos/logo-ra.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 48px;
  height: 50px;
}
header .navbar-logo-name {
  width: 100px;
  text-decoration: none;
  font-family: "sofia-pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 130.94%;
  color: #1C4394;
}
header .navbar-menu {
  width: 32%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navbar-menu a {
  padding: 6px 0px;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #3d3b40;
}
header .navbar-menu .selected {
  box-shadow: inset 0px -4px 0px #F08D28;
}

.img-with-text {
  max-width: 1440px;
  margin: auto;
  padding: 32px 130px;
  color: #3d3b40;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}
.img-with-text .content {
  width: 48%;
}
.img-with-text .content h1 {
  margin-bottom: 32px;
  font-family: "sofia-pro";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
}
.img-with-text .content p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 32px;
}
.img-with-text .image {
  height: 490px;
  width: 48%;
}

.img-with-text2 {
  max-width: 1440px;
  margin: auto;
  padding: 40px 130px;
  color: #3d3b40;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.img-with-text2 .content {
  width: 48%;
  padding: 32px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.img-with-text2 .content h2 {
  margin-bottom: 16px;
  font-family: "sofia-pro";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
}
.img-with-text2 .content p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 40px;
}
.img-with-text2 .image {
  background-color: rgb(170, 170, 170);
  height: 490px;
  width: 48%;
  border-radius: 16px;
  background-size: cover !important;
  background-position: center !important;
}

.video-with-text {
  max-width: 1440px;
  margin: auto;
  padding: 32px 130px;
  color: #3d3b40;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.video-with-text h1 {
  font-family: "sofia-pro";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
  margin-bottom: 32px;
}
.video-with-text p {
  max-width: 584px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 32px;
}
.video-with-text iframe {
  height: 577px;
  align-self: center;
  margin-bottom: 32px;
  box-shadow: 0px 24px 48px rgba(0, 0, 0, 0.32);
  border-style: none !important;
  border-radius: 16px;
}
.video-with-text a {
  align-self: center;
}

.card-collection {
  max-width: 1440px;
  margin: auto;
  padding: 32px 130px;
  color: #3d3b40;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-collection-h1 {
  font-family: "sofia-pro";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  margin-bottom: 32px;
}
.card-collection .cards {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}
.card-collection .cards-small {
  width: 242px;
}
.card-collection .cards-small-h1 {
  padding: 16px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  color: #000000;
}
.card-collection .cards-small-h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14.825px;
  line-height: 150%;
  color: #000000;
}
.card-collection .cards-small-img {
  max-width: 240px;
  height: 166px;
  border-radius: 9px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
.card-collection a {
  align-self: center;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #3d3b40;
}

.card-collection02 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0px;
}
.card-collection02-grid {
  padding-bottom: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 48px;
  align-items: flex-start;
  width: 100%;
}
.card-collection02-grid .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-collection02-grid .card .card-img {
  width: 100%;
  height: 300px;
  border-radius: 9px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
}
.card-collection02-grid .card > h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #868686;
  margin: 16px 0px;
}
.card-collection02-grid .card h1,
.card-collection02-grid .card h1 > a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 140%;
  text-decoration: none;
  color: #3d3b40;
}
.card-collection02 a {
  text-decoration: none;
}
.card-collection02 #btnMoreNews {
  display: none;
  padding: 16px;
  cursor: pointer;
}

.contact-banner-section {
  position: relative;
  width: 100%;
  height: 340px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact-banner-section .contact-banner-block {
  position: relative;
  z-index: 0;
  background-color: #efefef;
  min-width: 1188px;
  padding: 30px 130px;
  margin-top: 30px;
  margin-bottom: 68px;
  border-radius: 16px;
  color: #3d3b40;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.contact-banner-section .contact-banner-block h1 {
  font-family: "sofia-pro";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 150%;
}
.contact-banner-section .contact-banner-lh-img,
.contact-banner-section .contact-banner-rh-img {
  background-color: rgba(255, 0, 0, 0.247);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
}
.contact-banner-section .contact-banner-lh-img {
  position: absolute;
  left: 38px;
  height: 262px;
  width: 431px;
  background-image: url("../../assets/images/home-needhelp-izquierda.svg");
  z-index: 2;
}
.contact-banner-section .contact-banner-rh-img {
  position: absolute;
  right: -68px;
  height: 303px;
  width: 603px;
  background-image: url("../../assets/images/home-needhelp-derecha.svg");
  z-index: -1;
}

.contact-form {
  max-width: 1440px;
  margin: auto;
  padding: 80px 126px;
  color: #3d3b40;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contact-form-fields {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
.contact-form-fields > h1 {
  font-family: "sofia-pro";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #1C4394;
  margin-bottom: 25px;
}
.contact-form-fields > p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 65px;
}
.contact-form-fields .form-input {
  width: 100%;
  border: 1px solid #d1d1d1;
  border-radius: 20px;
  padding: 16px;
  margin-bottom: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.contact-form-fields textarea {
  width: 100%;
  resize: none;
  padding: 16px;
  margin-bottom: 42px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: #f1f1f5;
  border: 1px solid #d1d1d1;
  border-radius: 20px;
}
.contact-form-fields div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contact-form-fields div p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin-left: 80px;
}
.contact-form-blocks {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.contact-form-blocks div {
  width: 100%;
  padding: 48px 48px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.contact-form-blocks div h1 {
  font-family: "sofia-pro";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 120%;
}
.contact-form-blocks div p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding: 32px 0px;
}
.contact-form-blocks div > a > img {
  width: 100%;
  border-radius: 30px;
}

.select-block {
  max-width: 1440px;
  margin: auto;
  padding: 32px 0px;
  color: #3d3b40;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.select-block div > h1 {
  padding: 0px 130px;
}
.select-block-menu {
  display: flex;
  flex-direction: row;
  gap: 32px;
}
.select-block-menu div {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  color: #3d3b40;
  padding-bottom: 8px;
  box-shadow: inset 0px -1px 0px #d9d9d9;
}
.select-block-menu .selected {
  color: #0b0b0b;
  box-shadow: inset 0px -4px 0px #F08D28;
}

h1 {
  font-size: 4.8rem;
}

.carousel {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  position: relative;
}

/* CONTROLS */
.btn-arrow {
  position: relative;
  width: 3.6rem;
  height: 3.6rem;
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  cursor: pointer;
  position: absolute;
  transform: translate(-50%, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.btn-arrow:hover,
.btn-arrow:active {
  background-color: rgb(224, 224, 224);
}

.btn-arrow-left {
  top: 48%;
  left: 64px;
  transform: translate(-50%, -50%);
}

.btn-arrow-right {
  top: 48%;
  right: 64px;
  transform: translate(50%, -50%);
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

/* SLIDES */
.inner {
  position: relative;
  align-self: center;
  width: 100%;
  height: 36rem;
  border-radius: 2 0px;
  overflow: hidden;
}

.container {
  list-style: none;
  /* transform: translate(0%); */
}

.slide {
  /* === TO CENTER TEXT === */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  /* ====================== */
  padding: 4rem;
  position: absolute;
  width: 100%;
  height: 36rem;
  transition: all 0.3s;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide a {
  text-decoration: none;
}
.slide a .slide-title {
  width: 720px;
  font-family: "sofia-pro";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: #ffffff;
  text-align: center;
}
.slide a .slide-overscript {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
  margin: 12px 0px;
}

/* DOTS */
.dots {
  position: relative;
  top: -38px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.dot {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.dot:hover {
  background-color: rgb(224, 224, 224);
}

.dot--active {
  background-color: #F08D28;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  font-family: "Inter", sans-serif;
  width: 100%;
}
main section {
  max-width: 1440px;
  margin: auto;
}
main .padding-top-64 {
  padding-top: 64px;
}
main .img-with-text h1 {
  color: #1C4394;
}
main .about-meetra-img {
  height: 613px;
  background-image: url("../assets/images/about-meetra.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
main .section-cards {
  max-width: 1115px;
  padding: 32px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
main .section-cards div {
  max-width: 282px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
main .section-cards div .section-cards-img01 {
  background-image: url("../assets/images/about-passion.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
main .section-cards div .section-cards-img02 {
  background-image: url("../assets/images/about-focus.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
main .section-cards div .section-cards-img03 {
  background-image: url("../assets/images/about-empathy.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
main .section-cards div div {
  width: 181px;
  height: 223px;
  padding-bottom: 14px;
}
main .section-cards div h1 {
  font-family: "sofia-pro";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  color: #1C4394;
  padding-bottom: 7px;
}
main .section-cards div p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  padding-bottom: 12px;
  color: #3d3b40;
}
main .section-services {
  max-width: 1440px;
  padding: 32px 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .section-services > h1 {
  font-family: "sofia-pro";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  text-align: center;
  color: #3d3b40;
  margin-bottom: 32px;
}
main .section-services > p {
  max-width: 786px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #3d3b40;
  margin-bottom: 40px;
}

/*# sourceMappingURL=about.css.map */
