@use './abstracts' as *;
@use './components' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // text-decoration: none;
}

main {
  font-family: 'Inter', sans-serif;
  width: 100%;

  section {
    max-width: 1440px;
    margin: auto;
  }

  .padding-top-64 {
    padding-top: 64px;
  }

  .quotation-marks {
    position: relative;
    margin-top: 64px;
    left: -32px;
    width: 53px;
    height: 53px;
    background-image: url('../assets/icons/quotation-marks-53x53px.png');
  }

  .img-with-text {
    h1 {
      color: $PRIMARY_COLOR;
    }
  }

  .about-meetra-img {
    height: 613px;
    background-image: url('../assets/images/about-meetra.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }

  .section-cards {
    max-width: 1115px;
    padding: 32px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    div {
      max-width: 282px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;

      .section-cards-img01 {
        // background-color: rgb(170, 170, 170);
        background-image: url('../assets/images/about-passion.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      .section-cards-img02 {
        // background-color: rgb(170, 170, 170);
        background-image: url('../assets/images/about-focus.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      .section-cards-img03 {
        // background-color: rgb(170, 170, 170);
        background-image: url('../assets/images/about-empathy.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }

      div {
        width: 181px;
        height: 223px;
        padding-bottom: 14px;
      }

      h1 {
        font-family: 'sofia-pro';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 150%;
        color: $PRIMARY_COLOR;
        padding-bottom: 7px;
      }

      p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        padding-bottom: 12px;
        color: $TEXT_DARK;
      }
    }
  }

  .section-services {
    max-width: 1440px;
    padding: 32px 0px 40px;

    display: flex;
    flex-direction: column;
    align-items: center;

    > h1 {
      font-family: 'sofia-pro';
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 150%;
      text-align: center;
      color: $TEXT_DARK;
      margin-bottom: 32px;
    }

    > p {
      max-width: 786px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      text-align: center;
      color: $TEXT_DARK;
      margin-bottom: 40px;
    }

    .img-services-01,
    .img-services-02 {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .img-services-01 {
      background-image: url('../assets/images/services-01-buy.jpg');
    }
   
    .img-services-02 {
      background-image: url('../assets/images/services-02-invest.jpg');
    }
  }
}
