@use './abstracts' as *;
@use './components' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // text-decoration: none;
}

main {
  font-family: 'Inter', sans-serif;
  width: 100%;

  .section-std {
    max-width: 1440px;
    margin: auto;
    padding: 32px 130px;
  }

  .mb-80 {
    margin-bottom: 80px;
  }

  .pt-64d-0m {
    padding-top: 64px;
  }

  .video-with-text {
    h1 {
      color: $PRIMARY_COLOR;
    }
  }

  .section-areas {
    &-tab-menu {
      width: 100%;
      padding: 16px 0px 66px 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 32px;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      color: #000000;

      cursor: pointer;

      .area-tab {
        padding: 10px 0px;
        border-bottom: 1px solid #d9d9d9;
      }

      .area-tab:hover {
        border-bottom: none;
      }

      .area-tab-selected {
        border-bottom: none;
        color: #0b0b0b;
        box-shadow: inset 0px -4px 0px $SECONDARY_COLOR;
      }
    }

    &-content {
      color: $TEXT_DARK;

      .area-title {
        font-family: 'sofia-pro';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 150%;
        color: #1c4394;
      }

      .areas-block {
        .areas-img-text {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 52px;

          .content {
            flex-basis: 520px;
            flex-shrink: 1;
            // width: 48%;
            padding: 0px 0px;

            display: flex;
            flex-direction: column;
            justify-content: space-evenly;

            h2 {
              margin-bottom: 16px;
              font-family: 'sofia-pro';
              font-style: normal;
              font-weight: 700;
              font-size: 22px;
              line-height: 150%;
            }

            p {
              font-family: 'Inter';
              font-style: normal;
              font-weight: 400;
              font-size: 16px;
              line-height: 150%;
              margin-bottom: 32px;
            }
          }

          .areas-image {
            flex-basis: 520px;
            flex-shrink: 1;
            background-color: rgb(170, 170, 170);
            height: 490px;
            // width: 48%;
            border-radius: 16px;
            // background-size: cover !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
          }
        }
      }
    }
  }

  .contact-banner-custom {
    position: relative;
    width: 1440px;
    height: 275px;
    margin: auto;

    .contact-banner-lh-img,
    .contact-banner-rh-img {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top;
    }

    .contact-banner-lh-img {
      position: absolute;
      top: -40px;
      left: -76px;
      width: 341px;
      height: 331px;
      background-image: url('../assets/images/areas-vector-left.png');
      z-index: -1;
    }
    .contact-banner-rh-img {
      position: absolute;
      top: 0px;
      right: -20px;
      width: 432px;
      height: 304px;
      background-image: url('../assets/images/areas-vector-right.png');
      z-index: 2;
    }
  }
}

@media screen and (max-width: $BREAKPOINT_TABLET) {
  main {
    width: auto;
    overflow: hidden;

    .pt-64d-0m {
      padding-top: 0px;
    }

    .mb-80 {
      margin-bottom: 32px;
    }

    .section-std {
      max-width: 100%;
      padding: 0px 24px;
    }

    .section-areas {

      &-tab-menu {
        // width: fit-content;
        padding: 32px 0px;
        justify-content: start;
        gap: 16px;

        font-size: 18px;

        overflow-y: scroll;
        padding-bottom: 24px;
        scrollbar-width: none;
        scroll-snap-type: x proximity;

        .area-tab {
          width: max-content;
          white-space: nowrap;
        }
      }

      &-tab-menu::-webkit-scrollbar {
        width: 0px;
      }

      &-content {
        > h1 {
          display: none;
        }

        .areas-block {
          #area-content-block-01 {
            flex-direction: column-reverse;
          }

          #area-content-block-02 {
            flex-direction: column;
          }

          .areas-img-text {
            gap: 0;

            .areas-image {
              align-self: center;
              flex-basis: unset;
              max-height: 90vw;
              width: 100%;
              max-width: 560px;
              margin-bottom: 32px;
            }
          }
        }
      }
    }

    .contact-banner-custom {
      width: 100%;
      height: fit-content;

      .contact-banner-lh-img {
        top: 200px;
        left: -30px;
        width: 186px;
        height: 128px;
      }

      .contact-banner-rh-img {
        top: 148px;
        right: -81px;
        width: 142px;
        height: 182px;
        z-index: 2;
      }
    }
  }
}
