@use './abstracts' as *;
@use './components' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // text-decoration: none;
}

main {
  font-family: 'Inter', sans-serif;
  width: 100%;

  section {
    max-width: 1440px;
    margin: auto;
  }

  .section-banner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: end;

    .article-banner-img {
      background-color: rgb(170, 170, 170);
      height: 613px;
      width: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
    }

    .article-banner-caption {
      padding: 32px 130px;
      width: fit-content;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;

      color: #3d3b40;
    }
  }

  .section-article {
    position: relative;
    padding: 32px 130px;
    display: flex;
    flex-direction: column;
    align-items: start;

    .article-tags-group {
      width: 100%;
      margin-bottom: 32px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .article-tags {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 12px;

        div {
          padding: 8px 14px;
          background: #f4f4f4;
          border-radius: 30px;

          font-family: 'Inter';
          font-style: normal;
          font-weight: 500;
          font-size: 13.1813px;
          line-height: 150%;
          color: #000000;
        }
      }
    }

    .article-date-and-time {
      width: 100%;
      padding-bottom: 16px;
      margin-bottom: 32px;
      display: flex;
      flex-direction: row;
align-items: center;
      border-bottom: solid 1px #cbcbcb;

      .article-date {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 64px;

        .calendar-logo {
          width: 24px;
          height: 24px;
          margin-right: 8px;
          background-image: url('../assets/icons/calendar-24x24px.png');
        }
      }

      .article-time {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        .timer-logo {
          width: 24px;
          height: 24px;
          margin-right: 8px;
          background-image: url('../assets/icons/clock-24x24px.png');
        }
      }
    }

    .article-content-img {
      background-color: rgb(170, 170, 170);
      width: 100%;
      height: 613px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-radius: 10px;
    }

    .article-content-caption {
      padding: 32px 48px 32px 0px;
      width: fit-content;
      align-self: flex-end;

      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #3d3b40;
    }

    h1 {
      padding-bottom: 32px;
      font-family: 'sofia-pro';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 150%;
      color: #3d3b40;
    }

    p {
      padding-bottom: 32px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 150%;
      color: #0b0b0b;
    }

    h2 {
      padding-bottom: 32px;
      font-family: 'sofia-pro';
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 150%;
      color: #3d3b40;
    }
  }

  .section-share {
    padding: 72px 130px 32px 130px;

    .article-share {
      display: flex;
      flex-direction: column;
      align-items: center;

      h5 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 140%;
        padding-bottom: 16px;
      }

      &-icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 24px;

        a {
          display: block;
          // background-color: $PRIMARY_COLOR;
          width: 42px;
          height: 42px;
          border-radius: 50%;
          background-repeat: no-repeat;
          background-position: center;
        }

        .icon-twitter {
          background-image: url('../assets/icons/footer-twitter.svg');
        }
        .icon-instagram {
          background-image: url('../assets/icons/footer-insta.svg');
        }
        .icon-youtube {
          background-image: url('../assets/icons/footer-youtube.svg');
        }
      }
    }
  }

  .section-height {
    position: relative;
    width: 1440px;
    height: 275px;
    margin: auto;

    .contact-banner-lh-img,
    .contact-banner-rh-img {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top;
    }

    .contact-banner-lh-img {
      position: absolute;
      top: -40px;
      left: -76px;
      width: 341px;
      height: 331px;
      background-image: url('../assets/images/areas-vector-left.png');
      z-index: -1;
    }
    .contact-banner-rh-img {
      position: absolute;
      top: 0px;
      right: -20px;
      width: 432px;
      height: 304px;
      background-image: url('../assets/images/areas-vector-right.png');
      z-index: 2;
    }
  }
}
