@use './abstracts' as *;
@use './components' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // text-decoration: none;
}

main {
  font-family: 'Inter', sans-serif;
  width: 100%; 
  
  section {
    // max-width: 1440px;
    margin: auto;
  }

  .section-banner-img {
    height: 613px;
    background-image: url('../assets/images/home-heroimage.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .meet-ra-img{
    background-image: url('../assets/images/home-meetra.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top, center;
  }
}
