@use '../abstracts/colors' as *;

h1 {
  font-size: 4.8rem;
}

.carousel {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  position: relative;
}

/* CONTROLS */
.btn-arrow {
  position: relative;
  width: 3.6rem;
  height: 3.6rem;

  background-color: #ffffff;

  border: none;
  border-radius: 50%;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

  cursor: pointer;
  position: absolute;
  transform: translate(-50%, 0);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 999;
}

.btn-arrow:hover,
.btn-arrow:active {
  background-color: rgb(224, 224, 224);
}

.btn-arrow-left {
  top: 48%;
  left: 64px;
  transform: translate(-50%, -50%);
}

.btn-arrow-right {
  top: 48%;
  right: 64px;
  transform: translate(50%, -50%);
}

.icon {
  width: 2.4rem;
  height: 2.4rem;
}

/* SLIDES */
.inner {
  position: relative;
  align-self: center;
  width: 100%; //80rem;
  height: 36rem;
  border-radius: 2 0px;
  overflow: hidden;
}

.container {
  list-style: none;
  /* transform: translate(0%); */
}

.slide {
  /* === TO CENTER TEXT === */
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  /* ====================== */
  padding: 4rem;

  position: absolute;

  background-color: rgb(170, 170, 170);

  width: 100%; //80rem;
  height: 36rem;

  transition: all 0.3s;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  a {
    text-decoration: none;

    .slide-title {
      width: 720px;
      font-family: 'sofia-pro';
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 120%;
      color: #ffffff;
      text-align: center;
    }

    .slide-overscript {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 120%;
      color: #ffffff;
      margin: 12px 0px;
    }
  }
}

/* DOTS */
.dots {
  position: relative;
  top: -38px;
  // margin-top: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}

.dot {
  width: 1.2rem;
  height: 1.2rem;

  border-radius: 50%;
  border: none;

  background-color: #ffffff;

  cursor: pointer;
}

.dot:hover {
  background-color: rgb(224, 224, 224);
}

.dot--active {
  background-color: #F08D28;
}
