@use '../abstracts/colors' as *;

.card-collection {
  max-width: 1440px;
  margin: auto;
  padding: 32px 130px;
  color: $TEXT_DARK;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &-h1 {
    font-family: 'sofia-pro';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 150%;
    margin-bottom: 32px;
  }

  .cards {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;

    &-small {
      width: 242px;

      &-h1 {
        padding: 16px 0px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        color: #000000;
      }

      &-h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14.825px;
        line-height: 150%;
        color: #000000;
      }

      &-img {
        max-width: 240px;
        height: 166px;
        border-radius: 9px;

        // background-color: rgb(170, 170, 170);
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
      }
    }
  }

  a {
    align-self: center;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $TEXT_DARK;
  }
}

.card-collection02 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0px;

  &-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 48px;
    align-items: flex-start;
    width: 100%;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .card-img {
        width: 100%;
        height: 300px;
        border-radius: 9px;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
      }

      > h3 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        color: #868686;
        margin: 16px 0px;
        
      }

      h1,
      h1 > a {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 140%;
        text-decoration: none;
        color: $TEXT_DARK;
      }
    }
  }

  a {
    text-decoration: none;
  }

  #btnMoreNews {

 
    display: none;
    padding: 16px;
    cursor: pointer;
  }
}
