@use '../abstracts/colors' as *;
@use '../abstracts/breakpoints' as *;

.card-collection {
  max-width: 1440px;
  margin: auto;
  padding: 32px 130px;
  color: $TEXT_DARK;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  &-h1 {
    font-family: 'sofia-pro';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 150%;
    margin-bottom: 32px;
  }

  .cards {
    width: 100%;
    display: flex;
    gap: 38px;
    justify-content: center;
    padding-bottom: 32px;

    &-small {
      width: 242px;

      &-h1 {
        padding: 16px 0px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 140%;
        color: #000000;
      }

      &-h2 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 14.825px;
        line-height: 150%;
        color: #868686;
      }

      &-img {
        max-width: 240px;
        height: 166px;
        border-radius: 9px;

        // background-color: rgb(170, 170, 170);
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
      }

      &-img-error {
        max-width: 240px;
        height: 166px;
        border-radius: 9px;
        background-color: rgb(170, 170, 170) !important;

        background-repeat: no-repeat !important;
        background-size: 80px !important;
        background-position: center !important;
      }
    }
  }

  a {
    align-self: center;
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $TEXT_DARK;
  }

  .card-collection-desk {
    display: flex;
  }

  .card-collection-mobile {
    display: none;
  }
}

@media screen and (max-width: $BREAKPOINT_TABLET) {
  .card-collection-desk {
    display: none !important;
  }

  .card-collection-mobile {
    display: block !important;
  }

  .card-collection {
    width: 100%;
    padding: 24px 24px;

    .cards {
      &-small {
        width: 100%;
        height: 115vw;
        max-height: 460px;
        // max-width: 380px;
        // height: 100vw;
        // background-color: red;

        &-img {
          max-width: 100%;
          height: 75vw;
          max-height: 320px;
        }

        &-img-error {
          max-width: 100%;
          height: 75vw;
          max-height: 320px;
        }
      }
    }
  }
}

.card-collection02 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0px;

  &-grid {
    padding-bottom: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 48px;
    align-content: start;
    width: 100%;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .card-img {
        width: 100%;
        height: 300px;
        border-radius: 9px;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
      }

      > h3 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        color: #868686;
        margin-bottom: 16px;
      }

      h1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 140%;
        text-decoration: none;
        color: $TEXT_DARK;
        margin: 16px 0px;
      }
    }
  }

  a {
    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $TEXT_DARK;
  }

  #btnMoreNews {
    display: none;
    padding: 16px;
    cursor: pointer;
  }
}

@media screen and (max-width: $BREAKPOINT_TABLET) {
  .card-collection02 {
    &-grid {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      justify-content: space-evenly;

      .card {
        width: 310px;

        .card-img {
          width: 310px;
          height: 217px;
          border-radius: 16px;
          margin-bottom: 16px;
        }

        > h1 {
          margin: 0px 0px 8px 0px;
        }

        > h3 {
          margin: 0;
        }
      }
    }
  }
}