@use '../abstracts/colors' as *;

.footer {
  background-color: $PRIMARY_COLOR;
  max-width: 1440px;
  margin: auto;
  padding: 80px;
  color: $TEXT_LIGHT;

  &-up {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-subscribe {
      width: 50%;
      margin-right: 80px;

      h1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: $TEXT_LIGHT;
        padding-bottom: 16px;
      }

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        input {
          width: 470px;
          margin-right: 16px;
          padding-bottom: 16px;
          background-color: transparent;
          color: #ffffff;
          border: none;
          border-bottom: 1px solid #ffffff;
        }
      }

      p {
        max-width: 390px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        padding-top: 16px;
      }
    }

    &-nav {
      width: 50%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // align-items: flex-start;

        a:nth-child(1) {
          text-decoration: none;
          padding-bottom: 24px;

          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 150%;
          color: #ffffff;
        }

        a {
          text-decoration: none;
          padding-bottom: 24px;

          font-family: 'Inter';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 150%;
          color: #ffffff;
        }
      }
    }
  }

  &-down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-social {
      width: 50%;
      margin-right: 80px;

      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: start;

      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        a {
          display: block;
          width: 30px;
          height: 30px;
          background-size: contain;
          margin: 40px 0;
        }

        .icon-tweeter {
          background-image: url('../../assets/icons/icon-twitter.png');
        }

        .icon-instagram {
          background-image: url('../../assets/icons/icon-insta.png');
        }

        .icon-youtube {
          background-image: url('../../assets/icons/icon-insta.png');
        }
      }

      p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: #ffffff;
      }
    }

    &-legal {
      width: 50%;

      h1 {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: #ffffff;
        margin-bottom: 16px;
      }

      p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #f3f3f3;

        a{
          text-decoration: underline;
          color: #f3f3f3;
        }

        a:visited, a:hover, a:active {
          color: inherit;
        }
      }
    }
  }
}
