@use '../abstracts/colors' as *;

.select-block {
  max-width: 1440px;
  margin: auto;
  padding: 32px 0px;
  color: $TEXT_DARK;

  display: flex;
  flex-direction: column;
  align-items: center;

  div > h1 {
    padding: 0px 130px;
  }

  &-menu {
    padding-bottom: 32px;
    display: flex;
    flex-direction: row;
    gap: 32px;

    div {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      color: #3d3b40;
      padding-bottom: 8px;
      box-shadow: inset 0px -1px 0px #d9d9d9;
    }

    .selected {
      color: #0b0b0b;
      box-shadow: inset 0px -4px 0px $SECONDARY_COLOR;
    }
  }
}
